<section>
<form fxLayout ="column" fxLayoutAlign="center center"(ngSubmit)="onLoginSubmit()" #loginForm="ngForm"> 

	 <mat-form-field>
		<input matInput
		placeholder="User Name"
		type="text"
		id="username"
		ngModel
		name="username" 
		required 
		#userNameInput="ngModel"/>
	 </mat-form-field>
	 <mat-error *ngIf="userNameInput.hasError('required')"></mat-error>
     <mat-form-field hintLabel="Should be at least 5 character long">
	  <input matInput
	  placeholder="Password"
	   type="password"
	   name="password" 
	   ngModel
	   required 
	   minlength="5"
	   #pass="ngModel"/>
		<mat-hint align="end">{{pass.value?.length}} / 5</mat-hint>
	</mat-form-field>
	
   <button 
	mat-raised-button color="primary"
	type="submit"
	[disabled]="!loginForm.valid">Sign in
   </button>
</form >
</section>