
<br>
<br>
<div class="container">
		<div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
	<div class="card card-container">
	  
	  <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
	  <p id="profile-name" class="profile-name-card"></p>

  <!--Template driven approach-->
 <form (ngSubmit)="handleJWTAuthLogin()" #f="ngForm"> 
		<div class="form-group">
		  <label for="username">Username</label>
		  <input
		   type="text"
		   id="username"
		   class="form-control"
		   ngModel
		   name="username" 
		   required />
		
		</div>
		<div class="form-group" >
		  <label for="password">Password</label>
		  <input 
		   type="password"
		   class="form-control" 
		   name="password" 
		   ngModel
		   required 
		   #pass="ngModel"/>
		    <!-- <span class="help-block" *ngIf="pass.touched">Please enter a password</span>  -->

		  <!-- <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div> -->
		</div>
		
	   <button 
		class="btn btn-lg btn-primary btn-block btn-signin" 
		type="submit"
		[disabled]="!f.valid">Sign in
	   </button>
</form >
		<a [routerLink]="['/register']" class="btn btn-link">Create new Account!</a>
	</div><!-- /card-container -->
  </div><!-- /container -->
  