
<h1> Employee  Managememnt System </h1>

<div class="alert alert-success" *ngIf='message'>{{message}}</div>
<hr>
<div>
  </div>
<br>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Department Name</th>
        <th>DOB</th>
        <th>Hire Date</th>
        
        <th >Update</th>
        <th >Delete</th>
      </tr>
    </thead>
    <tbody>
              <tr *ngFor="let employee of employees">
                <td>{{employee.firstName}}</td>
                <td>{{employee.lastName}}</td>
                <td>{{employee.gender}}</td>
                <td>{{employee.deptName}}</td>
                <td>{{employee.birthDate}}</td>
                <td>{{employee.hireDate}} </td>
                
                
                <td ><button (click)="updateEmployee(employee.empId)" class="btn btn-success">Update</button></td> 
                <td ><button (click)="deleteEmployee(employee.empId)" class="btn btn-warning">Delete</button></td>              </tr>

    </tbody>

  </table>

  <div class="row">
      <button (click)="addEmployee()" class="btn btn-success">Add</button>
  </div>

</div>